**/.git/
**/.vs/
**/.vscode/
**/*obj/
**/*bin/
*.user
*.swp
*.swo
**/*.md
restore.cmd
**/*.sln
**/*.userprefs
Dockerfile*
docker-compose*
*.mdf
*.ldf
*.trx
*.ps1
**/node_modules/
npm-debug.log
*.log
*.tmp
*.temp